<!DOCTYPE html>
<html>
<!--
  * Please see the included README.md file for license terms and conditions.
  -->

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="ionic/css/ionic.min.css">
    <title>EasyMarketDay - Facilitando o seu rancho :)</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!--
  * The "meta viewport" tag (below) helps your app size appropriately to a device's ideal viewport.
  * Note that Windows device viewports work better when initialized using the @viewport CSS rule.
  * For a quick overview of "meta viewport" and @viewport, see this article:
  *   http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag
  * To see how it works, try your app on a real device with and without a "meta viewport" tag.
  * Additional useful references include:
  *   http://www.quirksmode.org/mobile/viewports.html
  *   http://www.quirksmode.org/mobile/metaviewport/devices.html
  *   https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
-->

    <!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

    <style>
        /* following three (cascaded) are equivalent to above three meta viewport statements */
        /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
        /* see http://dev.w3.org/csswg/css-device-adapt/ */
        
        @-ms-viewport {
            width: 100vw;
            min-zoom: 100%;
            zoom: 100%;
        }
        
        @viewport {
            width: 100vw;
            min-zoom: 100% zoom: 100%;
        }
        
        @-ms-viewport {
            user-zoom: fixed;
            min-zoom: 100%;
        }
        
        @viewport {
            user-zoom: fixed;
            min-zoom: 100%;
        }
        /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
    </style>

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">
    <link rel="stylesheet" type="text/css" href="css/ion-fab.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

    <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
    <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work below -->
    <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->

    <!-- Recommended location for your JavaScript libraries -->
    <!-- These library references (below) are just examples to give you the general idea... -->
    <!-- <script src="lib/mc/hammer.js"></script> -->
    <!-- <script src="lib/ft/fastclick.js"></script> -->

    <!--
  * cordova.js is a phantom lib for "Cordova HTML5 web app," it does nothing in a "Standard HTML5 web app"
  * Seeing a "Failed to load resource: net::ERR_FILE_NOT_FOUND" message caused by this "cordova.js" script?
  * The cordova.js script is required if you convert your "Standard HTML5" project into a "Cordova" project.
  * You can safely ignore the error or comment out this line if you will not be developing a Cordova app.
-->
    <script src="cordova.js" id="xdkJScordova_"></script>

    <script src="js/app.js"></script>
    <!-- for your event code, see README and file comments for details -->
    <script src="js/init-app.js"></script>
    <!-- for your init code, see README and file comments for details -->
    <script src="xdk/init-dev.js"></script>
    <!-- normalizes device and document ready events, see file for details -->
    <script type="application/javascript" src="lib/jquery.min.js"></script>
    <script type="application/javascript" src="marginal/marginal-position.js"></script>
    <script type="application/javascript" src="ionic/js/ionic.bundle.js"></script>
    <script type="application/javascript" src="js/index_init_services.js"></script>

    <script type="application/javascript" src="js/web-sql-storage.js"></script>
    <script type="application/javascript" src="js/index_user_scripts.js"></script>
    <script type="application/javascript" src="sidebar/js/hammer.js"></script>
    <script type="application/javascript" src="sidebar/js/jquery.hammer.js"></script>
    <script type="application/javascript" src="sidebar/js/swipe-hammer.js"></script>
    <script type="application/javascript" src="sidebar/js/sidebar.js"></script>
    <script type="application/javascript" src="xdk/ad/ionic_subpage.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script type="application/javascript" src="js/jquery.maskMoney.js"></script>
    <script type="application/javascript" src="js/produto.js"></script>
    <script type="application/javascript" src="js/index_uib_w_25_popup.js"></script>

    <script type="application/javascript" src="js/index_uib_w_26_popup.js"></script>
    <script type="application/javascript" src="js/index_uib_w_29_popup.js"></script>
    <script type="application/javascript" src="js/index_uib_w_37_popup.js"></script>
    <script type="application/javascript" src="js/index_uib_w_39_popup.js"></script>
    <script type="application/javascript" src="xdk/appdesigner/js/rest-of-space.js"></script>
</head>

<body ng-app="myApp">

    <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
    <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work above -->
    <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->
    <div class="upage" id="mainpage">
        <div class="upage-outer">
            <div class="upage-content ac0 content-area vertical-col left" id="page_23_71">
                <template class="uib-ionic-popup widget uib_w_25 d-margins" data-uib="ionic/popup" data-ver="0"></template>
                <template class="uib-ionic-popup widget uib_w_26 d-margins" data-uib="ionic/popup" data-ver="0"></template>
            </div>
            <ion-header-bar class="bar inner-element uib_w_1 bar-assertive bar-header" data-uib="ionic/header" data-ver="0" id="header" align-title="center" style="height: 50px;">
                <img src="images/cart.png" style="margin-left: 10px;">
                <div class="buttons widget-container content-area horiz-area wrapping-col"></div>
                <h1 class="title" style="margin-top: 5px">EasyMarketDay</h1>
                <div class="buttons widget-container content-area horiz-area wrapping-col">
                    <button class="button widget uib_w_9 d-margins ion button-outline ion-android-user-menu icon-only" data-uib="ionic/button" data-ver="0" id="btnmenu"></button>
                </div>
            </ion-header-bar>
            <ion-footer-bar class="bar inner-element uib_w_2 bar-assertive bar-footer" data-uib="ionic/footer" data-ver="0" id="footer">
                <div class="buttons widget-container content-area horiz-area wrapping-col"></div>
                <h1 class="title"></h1>
                <div class="buttons widget-container content-area horiz-area wrapping-col"></div>
            </ion-footer-bar>

            <div class="inner-element uib_w_10 uib_sidebar leftbar bar-bg thumb-bg bar-gutter fixed" data-uib="layout/left_sidebar" data-ver="1" data-anim="{'style':'overlap'}" id="sbmenu" style="margin: 80px 0px 0px 85px;">
                <!-- style="margin: 80px 0px 0px 85px;" -->
                <div class="sidebar-content content-area vertical-col">
                    <div class="grid grid-pad urow uib_row_1 row-height-1" data-uib="layout/row" data-ver="0">
                        <div class="col uib_col_2 col-0_12-12" data-uib="layout/col" data-ver="0">
                            <div class="widget-container content-area vertical-col center">
                                <span class="uib_shim"></span>
                            </div>
                        </div>
                        <span class="uib_shim"></span>
                    </div>

                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-cart icon-left" data-uib="ionic/button" data-ver="0" id="btnsupermercados" ng-controller="uib_w_29_popup_controller" ng-click="listar()">Supermercados</button>
                    <br>
                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-cart icon-left" data-uib="ionic/button" data-ver="0" onclick="listarProdutos()" id="btnprodutos">Produtos</button>
                    <br>
                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-eye-outline icon-left" data-uib="ionic/button" data-ver="0" id="btncomparar">Comparar Produtos</button>
                    <br>
                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-cart icon-left" data-uib="ionic/button" data-ver="0" id="btnircomprar" ng-controller="uib_w_39_popup_controller" ng-click="comprarSelMercado()">Ir as Compras</button>
                    <br>
                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-paper-outline icon-left" data-uib="ionic/button" data-ver="0" id="btnrelatorios">Relatórios</button>
                    <br>
                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-paper-outline icon-left" data-uib="ionic/button" data-ver="0" id="btnrelatorios" ng-controller="uib_w_26_popup_controller" ng-click="sobre()">Sistema</button>
                    <br>
                    <button class="button widget uib_w_24 d-margins ion button-dark ion-ios7-close-outline icon-left" data-uib="ionic/button" data-ver="0" id="btnsair" ng-controller="uib_w_25_popup_controller" ng-click="sair()">Sair</button>
                </div>
            </div>
            <div id="sbsupermercados" class="upage-content vertical-col left hidden">
                <div class="widget uib_w_10 scale-image d-margins" data-uib="media/img" data-ver="0">
                    <figure class="figure-align" style="text-align: center">
                        <img width="80px" height="80px" src="images/camera.png" id="imagemercado" ng-controller="uib_w_29_popup_controller" ng-click="foto()" alt="Imagem">
                        <figcaption data-position="bottom"></figcaption>
                    </figure>
                </div>

                <label class="item item-input widget uib_w_28 d-margins" data-uib="ionic/input" data-ver="0"><span class="input-label">Nome</span>
                    <i class="icon ion-document-text ion placeholder-icon"></i>
                    <input id="nomemercado" type="text" placeholder="Informe o nome">
                </label>
                <label class="item item-input widget uib_w_28 d-margins" data-uib="ionic/input" data-ver="0" style="border: none;"><span class="input-label">Localização</span>
                </label>

                <div id="googleMap" style="width: 300px; height: 300px; margin: 0 auto;"></div>
                <br>
                <div class="uib-grid widget uib_w_32 grid-text grid-height d-margins" data-uib="layout/grid" data-ver="1" style="height: 30px">
                    <div class="uib-grid-row">
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_30 ion button-assertive ion-android-checkmark icon-left" data-uib="ionic/button" data-ver="0" id="btnsalvarmercado" ng-controller="uib_w_29_popup_controller" ng-click="salvar()">Salvar</button>
                        </div>
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_31 d-margins ion button-assertive ion-android-system-back icon-left" data-uib="ionic/button" data-ver="0" id="btncancelarmercado" ng-controller="uib_w_29_popup_controller" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <template class="uib-ionic-popup widget uib_w_29 d-margins" data-uib="ionic/popup" data-ver="0"></template>
            </div>
            <div id="sblsupermercados" class="upage-content vertical-col hidden" style="text-align: right;">
                <div class="tarea widget uib_w_38 d-margins" data-uib="media/text" data-ver="0" name="uib_w_38" style="text-align: center; font-size: 150%; padding-top: 25px;">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p><strong>Supermercados</strong>
                        </p>
                    </div>
                </div>
                <ion-scroll zooming="true" direction="xy">
                    <ion-list class="widget uib_w_22 d-margins" data-uib="ionic/list" data-ver="0" id="lstsupermercados">
                    </ion-list>
                </ion-scroll>
                <ion-fab id="addsupermercado" ng-controller="uib_w_29_popup_controller" ng-click="adicionar()">
                    <i class="icon ion ion-android-add" style="margin: 30px 10px 25px 0px;"></i>
                </ion-fab>
            </div>
            <div id="sbprodutos" class="upage-content vertical-col left hidden">
                <div class="tarea widget uib_w_33 d-margins" data-uib="media/text" data-ver="0" name="uib_w_33">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p>Produtos</p>
                    </div>
                </div>
                <div class="widget uib_w_10 scale-image d-margins" data-uib="media/img" data-ver="0">
                    <figure class="figure-align" style="text-align: center">
                        <img width="80px" height="80px" src="images/camera.png" id="imgproduto" ng-controller="uib_w_37_popup_controller" ng-click="foto()" alt="Imagem">
                        <figcaption data-position="bottom"></figcaption>
                    </figure>
                </div>
                <label class="item item-input widget uib_w_35 d-margins" data-uib="ionic/input" data-ver="0"><span class="input-label">Nome</span>
                    <i class="icon placeholder-icon ion-ios7-paper-outline ion"></i>
                    <input id="nomeproduto" type="text" placeholder=" Informe o nome">
                </label>
                <label class="item item-input widget uib_w_35 d-margins" data-uib="ionic/input" data-ver="0"><span class="input-label">Descrição</span>
                    <i class="icon placeholder-icon ion-ios7-paper-outline ion"></i>
                    <input id="descricaoproduto" type="text" placeholder=" Informe a descrição">
                </label>
                <label class="item item-input widget uib_w_36 d-margins" data-uib="ionic/input" data-ver="0"><span class="input-label">Preço</span>
                    <i class="icon placeholder-icon ion-android-chat ion"></i>
                    <input type="text" id="precoproduto" placeholder=" Informe o valor" data-symbol="R$ " data-thousands="." data-decimal=",">
                </label>
                <label class="item item-input widget uib_w_34 d-margins" data-uib="ionic/input" data-ver="0"><span class="input-label">Categoria</span>
                    <select id="selcatproduto"></select>
                </label>
                <label class="item item-input widget uib_w_34 d-margins" data-uib="ionic/input" data-ver="0"><span class="input-label">Supermercado</span>
                    <select id="selmercadoproduto"></select>
                </label>
                <br>
                <div class="uib-grid widget uib_w_32 grid-text grid-height d-margins" data-uib="layout/grid" data-ver="1" style="height: 30px">
                    <div class="uib-grid-row">
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_30 ion button-assertive ion-android-checkmark icon-left" data-uib="ionic/button" data-ver="0" id="btnsalvarproduto" onclick="salvarProduto()">Salvar</button>
                        </div>
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_31 d-margins ion button-assertive ion-android-system-back icon-left" data-uib="ionic/button" data-ver="0" id="btncancelarproduto" onclick="cancelarProduto()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <template class="uib-ionic-popup widget uib_w_37 d-margins" data-uib="ionic/popup" data-ver="0"></template>
            </div>
            <div id="sblprodutos" class="upage-content vertical-col hidden" style="text-align: right;">
                <div class="tarea widget uib_w_38 d-margins" data-uib="media/text" data-ver="0" name="uib_w_38" style="text-align: center; font-size: 150%; padding-top: 25px;">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p><strong>Produtos</strong>
                        </p>
                    </div>
                </div>
                <ion-scroll zooming="true" direction="xy">
                    <ion-list class="widget uib_w_22 d-margins" data-uib="ionic/list" data-ver="0" id="lstprodutos">
                    </ion-list>
                </ion-scroll>
                <ion-fab id="addproduto" onclick="montarProdutos()">
                    <i class="icon ion ion-android-add" style="margin: 30px 10px 25px 0px;"></i>
                </ion-fab>
            </div>
            <div id="sbcomprar-mercado" class="upage-content vertical-col left hidden">
                <div class="tarea widget uib_w_38 d-margins" data-uib="media/text" data-ver="0" name="uib_w_38" style="text-align: center; font-size: 150%; padding-top: 25px;">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p>
                            <img src="images/cart-red.png" width="35px" height="35px">
                            <strong>Comprar Produtos</strong>
                        </p>
                    </div>
                </div>
                <br>
                <br>

                <template class="uib-ionic-popup widget uib_w_39 d-margins" data-uib="ionic/popup" data-ver="0"></template>
                <label class="item item-input item-select widget uib_w_40 d-margins" data-uib="ionic/select" data-ver="0">
                    <div class="input-label">Selecione o supermercado</div>
                    <select id="selMercadoCompra">
                    </select>
                </label>
                <br>
                <br>
                <div class="uib-grid widget uib_w_41 grid-text grid-height d-margins" data-uib="layout/grid" data-ver="1" style="height: 60px;">
                    <div class="uib-grid-row">
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_42 d-margins ion button-assertive ion-android-arrow-up-right" data-uib="ionic/button" data-ver="0" id="btnavancar" ng-controller="uib_w_39_popup_controller" ng-click="avancar()">Avançar</button>
                        </div>
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_43 d-margins ion button-assertive ion-android-system-back" data-uib="ionic/button" data-ver="0" id="btncancelarcompra" ng-controller="uib_w_39_popup_controller" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sbcomprar-produtos" class="upage-content vertical-col left hidden">
                <div class="tarea widget uib_w_38 d-margins" data-uib="media/text" data-ver="0" name="uib_w_38" style="text-align: center; font-size: 150%; padding-top: 25px;">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p>
                            <img src="images/cart-red.png" width="35px" height="35px">
                            <strong>Comprar Produtos</strong>
                        </p>
                    </div>
                </div>
                <br>
                <br>

                <template class="uib-ionic-popup widget uib_w_39 d-margins" data-uib="ionic/popup" data-ver="0"></template>
                <label class="item item-input widget uib_w_40 d-margins" data-uib="ionic/select" data-ver="0">
                    <div class="input-label" style="text-align: center">Selecione os produtos desejados</div>
                </label>
                <br>
                <br>
                <ion-scroll zooming="true" direction="xy">
                    <ion-list class="widget uib_w_22 d-margins" data-uib="ionic/list" data-ver="0" id="lstprodutoscompra">
                    </ion-list>
                </ion-scroll>
                <div class="uib-grid widget uib_w_41 grid-text grid-height d-margins" data-uib="layout/grid" data-ver="1" style="height: 60px;">
                    <div class="uib-grid-row">
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_42 d-margins ion button-assertive ion-android-arrow-up-right" data-uib="ionic/button" data-ver="0" id="btnavancar" ng-controller="uib_w_39_popup_controller" ng-click="calcularTotal()">Avançar</button>
                        </div>
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_43 d-margins ion button-assertive ion-android-system-back" data-uib="ionic/button" data-ver="0" id="btncancelarcompra" ng-controller="uib_w_39_popup_controller" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sbcomprar-total" class="upage-content vertical-col left hidden">
                <input type="hidden" value="" id="valorTotalProdutos">
                <input type="hidden" value="" id="mercadoSelecionado">
                <input type="hidden" value="" id="sql">

                <div class="tarea widget uib_w_38 d-margins" data-uib="media/text" data-ver="0" name="uib_w_38" style="text-align: center; font-size: 150%; padding-top: 25px;">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p><strong>Valor total da compra</strong>
                        </p>
                    </div>

                    <div style="margin-top: 50px; text-align: center;">
                        <div id="qtdprodutos"></div>
                        <br>
                        <div id="valortotal"></div>
                    </div>
                </div>
                <div class="uib-grid widget uib_w_44 grid-text grid-height d-margins" data-uib="layout/grid" data-ver="1" style="height: 60px;">
                    <div class="uib-grid-row">
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_42 d-margins ion button-assertive ion-android-arrow-up-right icon-left" data-uib="ionic/button" data-ver="0" id="btnconcluir" ng-controller="uib_w_39_popup_controller" ng-click="finalizar()">Concluir</button>
                        </div>
                        <div class="uib-grid-cell widget-container">
                            <button class="button widget uib_w_43 d-margins ion button-assertive ion-android-system-back icon-left" data-uib="ionic/button" data-ver="0" id="btncancelarcompra" ng-controller="uib_w_39_popup_controller" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sbcompra-sucesso" class="upage-content vertical-col left hidden" style="top: 75px !important; height: 270px; text-align: center;">
                <div class="tarea widget uib_w_45 d-margins" data-uib="media/text" data-ver="0" name="uib_w_45">
                    <div class="widget-container left-receptacle"></div>
                    <div class="widget-container right-receptacle"></div>
                    <div class="text-container">
                        <p>Obrigado por comprar em nosso aplicativo.</p>

                        <p>Informamos que seu pedido já foi encaminhado ao supermercado selecionado durante a compra.</p>

                        <p>Agora você só precisa passar no supermercado para fazer o pagamento e a retirada dos itens.</p>

                        <p><strong>Esperamos sempre tê-lo conosco ;)</strong>
                        </p>
                    </div>
                </div>
                <button style="width: 187px; height: 60px;" class="button widget uib_w_46 d-margins ion button-assertive ion-android-system-back" data-uib="ionic/button" data-ver="0" id="btnvoltarpedido" ng-controller="uib_w_39_popup_controller" ng-click="cancelar()">Voltar</button>
            </div>
        </div>
    </div>
</body>

</html>